
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Font family */
  body {
    font-family: 'Poppins', sans-serif;
  }



.backgroundone {
  background-color: #f4f5fa; 
  background: linear-gradient(175deg, #f4f5fa
  60%, #eff0f5 60%);
}

.loginCard {
  width: 28rem;
  background-color: #FFF;
  color: rgba(58, 53, 65, 0.87) !important;
  -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
  border-radius: 10px !important;
  box-shadow: 0px 2px 1px -1px rgba(58, 53, 65, 0.2), 0px 1px 1px 0px rgba(58, 53, 65, 0.14), 0px 1px 3px 0px rgba(58, 53, 65, 0.12) !important;
  box-shadow: 0px 2px 10px 0px rgba(58, 53, 65, 0.1) !important;
  padding: 0 !important;
}

.loginDescription {
  line-height: 1.334;
  letter-spacing: 0;
  color: rgba(58, 53, 65, 0.68); 
  font-weight: 600;
  margin-bottom: 0.375rem;
}

.pwlogo {
  width: 80px;
}

.loginTitle {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginTitle h6 { 
  color: rgba(58, 53, 65, 0.87);
  line-height: 1;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 23px;
}

.formTitle{
  margin-bottom: 1rem;
}

.formTitle h6{
  color: rgba(58, 53, 65, 0.87);
  line-height: 1;
  font-weight: 500;
  font-size: 20px;
}

.formTitle p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.15px;
    color: rgba(58, 53, 65, 0.68);
}

.cardFormControl{
  height: 1.4375em!important;
  padding: 20px 14px!important;
    
}

.loginCardBody {
  padding: 3rem 2.25rem 1.75rem!important;
}

.buttonSignUp {
    width: 100%;
    margin-top: 20px;
}

NavLink {
  color: blue;
}

/* Card Total Payment */
.statisticCard {
  background-color: #fff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
  }

  .billerListTable{
    background-color: #fff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
  
  .cardicons {  
    width: 40px;
    border-radius: 50%; 
    margin-left: 0 !important;
  }
   
  .title-text {
    margin-left: 0.5rem;
    color: #374151;
    font-size: 20px;
  }
  
/* Billing Table CSS */

.billingTableCard{
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.expanded-component {
    background-color: whitesmoke;
    font-size: small;
  }
  
  @keyframes scaleUp {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(0.95);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
   .react-datepicker__input-container {
    width: 210px !important;

   }

   .react-datepicker__input-container input {
    width: 100%;
    box-sizing: border-box !important;
    padding: 5px 10px;
    border-radius: 15px;
    outline: none !important; 
    resize: none !important; 
   }

.custom-scroll {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    scroll-behavior: smooth;
  }
  
  .custom-scroll::-webkit-scrollbar {
    width: 0rem;
  }
  
  .custom-scroll::-webkit-scrollbar-thumb {
    background: transparent;
  }
  
  .custom-scroll::-webkit-scrollbar-track {
    background: transparent;
  }

  .sidebarItems{
    font-size: 16px !important;
  }
  .sidebarItemContainer:hover {
    color: #f8b739;
  }

  .sidebarItems:hover {
    color: #f8b739;
    text-decoration: none !important;
  }
  
  .activeLink {
    color: #f8b739 !important;
  }

  .css-uttm9k {
    padding-top: none;
    padding-bottom: 8px;
  }

  .css-xl71ch{
    display: flex;
    justify-content: space-around;
  }

  .css-uttm9k{
    padding-top: 0% !important;
  }

  .MenuItem_ColumnButtons:hover {
    background-color: transparent !important;
    color: inherit !important;
  }

  .ColumnButtons{
    background-color: orange;
    padding: 3px;
    margin: 0 2px;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
  }

  .ColumnButtons:hover{
    background-color: #ff8c00;
  }


